## Task1-Pattern Programming

###  REFERRAL CODE: SIRSS2105

### **SHUBHAM SALOKHE**

1.

In [1]:
n=5
for col in range(5,0,-1):
    for row in range(col):
        print("5",end=(' '))
    print(" ")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

2.

In [2]:
for col in range(5,1,-1):
    for row in range(col):
        print(row,end=(" "))
    print(" ")

0 1 2 3 4
0 1 2 3
0 1 2
0 1

3.

In [4]:
row=5
i=1
while i<=row:
    j=1
    while j<=i:
        print((i*2-1),end=(" "))
        j+=1
    i=i+1
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

4.

In [6]:
rows= 5
for row in range(1,rows+1):
    for col in range(row,0,-1):
        print(col,end=" ")
    print(" ")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

5.

In [7]:
start=  1
stop = 2
current_num = stop
for row in range(2,6):
    for col in range(start, stop):
        current_num= current_num-1
        print(current_num, end=" ")
    print("")
    start = stop
    stop= stop +row
    current_num= stop

1
3 2
6 5 4
10 9 8 7

6.

In [8]:
def print_pascal_triangle(size):
    for i in range (0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end= " ")
        print()
        
        
        
def decide_number(n, k):
    num = 1
    if k>n-k:
        k = n-k
    for i in range (0,k):
        num = num *(n- i)
        num = num // (i + 1)
    return num 

# set rows 
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

7.

In [9]:
rows = 5
for i in range(1, rows +1):
    for j in range(1,rows +1):
        if j <= i:
            print(i , end= " ")
        else:
            print(j, end= " ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

8.

In [10]:
rows = 8
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        square = i*j
        print(i*j, end =" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

9.

In [11]:
rows = 5
k = 2* rows -2
for i in range(rows, -1,-1):
    for j in range(k, 0, -1):
        print(end= " ")
    k = k + 1
    for j in range(0, i+1):
        print("*", end=" ")
    print()

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

10.

In [12]:
rows = 7
m = (2*rows)-2
for row in range(0,rows):
    for col in range(0,m):
        print(end=" ")
    
    m = m-1
    for col in range(0,row+1):
        print("*", end = " ")
    print(" ")

            *
           * *
          * * *
         * * * *
        * * * * *
       * * * * * *
      * * * * * * *

11.

In [13]:
rows=7
for row in range(0,rows):
    for col in range(row):
        print("*", end=" ")
    print()
print()    
for row in range(rows,0,-1):
    for col in range(row-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

12.

In [14]:
rows=5
for row in range(0,rows):
    for col in range(0,row):
        print("*",end=" ")
    print()
for row in range(rows,0,-1):
    for col in range(0,row):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

13.

In [25]:
rows =5
i=1
while i <= rows:
    j = i
    while j< rows:
        #display space
        print(" ", end = " ")
        j += 1
    k = 1
    while k <= i:
        print("*", end=" ")
        k +=1
    print()
    i +=1
    
i = rows
while i >= 1:
    j=i
    while j <= rows:
        print(" ", end=" ")
        j +=1
    k =1
    while k <i:
        print("*",end = " ")
        k += 1
    print("")
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

14.

In [17]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

15.

In [19]:
column = 14 
print("*" * column, end="\n")
i = (column // 2)-1
j = 2
while i !=0:
    while j <= (column -2):
        print("*" *i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i -1
        j= j+2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*