## Task 2

###  REFERRAL CODE: SIRSS2105

### SHUBHAM SALOKHE

## 1. Write a lambda expression to extract first word of a string.

In [1]:
# Lambda function in session 5
st= "Messi Leaves Barcelona"
la = lambda st:st.split()[0]
print(st)

Messi Leaves Barcelona

In [2]:
print(la(st))

Messi

## 2.  Write a function to extract first word of s string (with many words separated by space).

In [3]:
def first_word(s):
    return s.split()[0]

In [4]:
a = "Messi Leaves Barcelona"
print(a)
first_word(a)

Messi Leaves Barcelona

'Messi'

## 3. Extract the first word from every string from a list of strings by using map function.

In [5]:
ls = ['Mumbai is capital of Maharashtra','Delhi is capital of India','Jaipur is capital of Rajashtan','Banglore is capital of Karnataka','Hayderabad is capital of Telangana','Lucknow is capital of Uttar pradesh','Kanpur is the city of uttar pradesh ']
ls

['Mumbai is capital of Maharashtra',
 'Delhi is capital of India',
 'Jaipur is capital of Rajashtan',
 'Banglore is capital of Karnataka',
 'Hayderabad is capital of Telangana',
 'Lucknow is capital of Uttar pradesh',
 'Kanpur is the city of uttar pradesh ']

In [6]:
def first_word(x):
    return x.split()[0]
list(map(first_word,ls))

['Mumbai', 'Delhi', 'Jaipur', 'Banglore', 'Hayderabad', 'Lucknow', 'Kanpur']

## 4. Write a function to return a list of prime factors of a given number.

In [7]:
def prime_factor(num):
    ls = [1,]
    
    while num % 2 ==0:
        ls.append(2)
        num /= 2
        
    for i in range(3,int(n**0.5)+1,2):
        
        while num % i ==0:
            ls.append(i)
            num /= i
    if num>2:
        ls.append(int(num))
    print(ls)

In [8]:
n = int(input())
prime_factor(n)

8686
[1, 2, 43, 101]

## 5. Write a function that finds 2nd largest among 4 numbers (Repetitions are allowed, without sorting).

In [9]:
def sec_large(N1,N2,N3,N4):
    ls = [N1,N2,N3,N4]
    
    m = max(ls)
    
    for i in ls:
        if i ==m:
            Number = ls.remove(i)
    a = max(ls)
    print(a)

In [10]:
sec_large(2,5,7,4)

5